PRIVATE_KEY=
TESTNET_RPC_URL=
MAINNET_RPC_URL=
USER=

ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=

# ---------------------------------------------------------------------------
# ---------------------------- ETHEREUM SEPOLIA -----------------------------
# ---------------------------------------------------------------------------
# PROXY ADDRESSES
SEPOLIA_INDEX_TOKEN_PROXY_ADDRESS=0xac3B1804c603C4F1820133ac09803175d098cf62
SEPOLIA_INDEX_FACTORY_STORAGE_PROXY_ADDRESS=0x341DD30E587A940B0ef105495e9A1a4D927f8b6b
SEPOLIA_INDEX_FACTORY_PROXY_ADDRESS=0xa0B1A629A7cd6cecA1a166268E2108ec70e5DE14
SEPOLIA_INDEX_FACTORY_BALANCER_PROXY_ADDRESS=0xb2b4f70ef59318BFcF91dBAb76c3c04F2Bc0fad1
SEPOLIA_VAULT_PROXY_ADDRESS=0x07E019896f6ecC559b52896C18f6B215B4C0df2D
SEPOLIA_FEE_VAULT_PROXY_ADDRESS=0x10f7BBBB3b3419aB1C4106e2Aab67F012afc64d1
SEPOLIA_FUNCTIONS_ORACLE_PROXY_ADDRESS=0x088C4C545ECd9638F7104CA7773F304F312a9a7d
SEPOLIA_SCA_PROXY_ADDRESS=0xB8eF555955a831f1Fd5089b7B0f05BA1F90A9894

# PROXY ADMIN ADDRESSES
SEPOLIA_INDEX_TOKEN_PROXY_ADMIN_ADDRESS=
SEPOLIA_INDEX_FACTORY_STORAGE_PROXY_ADMIN_ADDRESS=
SEPOLIA_INDEX_FACTORY_PROXY_ADMIN_ADDRESS=
SEPOLIA_INDEX_FACTORY_BALANCER_PROXY_ADMIN_ADDRESS=
SEPOLIA_VAULT_PROXY_ADMIN_ADDRESS=
SEPOLIA_FEE_VAULT_PROXY_ADMIN_ADDRESS=
SEPOLIA_FUNCTIONS_ORACLE_PROXY_ADMIN_ADDRESS=
SEPOLIA_SCA_PROXY_ADMIN_ADDRESS=

SEPOLIA_BOND_ADDRESS=0xcFDB8B0f15c9f1166E4EcEdFDa1B6C5c1b2658Cb
SEPOLIA_RISK_ASSET_ADDRESS=0xc9111A8ad0AB1426533518463Aa175A251e571e7
SEPOLIA_RISK_ASSET_TOKEN_ADDRESS=0x4F96a57451A045b016B17D634727FB03f95c3fed
SEPOLIA_NEX_BOT_ADDRESS=0x51256F5459C1DdE0C794818AF42569030901a098
SEPOLIA_NEW_DON_ID=0x66756e2d657468657265756d2d7365706f6c69612d3100000000000000000000
SEPOLIA_FUNCTIONS_ROUTER_ADDRESS=0xb83E47C2bC239B3bf370bc41e1459A34b41238D0
SEPOLIA_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
SEPOLIA_USDC_DECIMALS=6
SEPOLIA_WETH_ADDRESS=0xfFf9976782d46CC05630D1f6eBAb18b2324d6B14

SEPOLIA_FEE_RATE_PER_DAY_SCALED=10000000000000000 # 0.01
SEPOLIA_FEE_RECEIVER=0x11a8E23DAfbE058e9758c899dAEe0e43f287A96D
SEPOLIA_SUPPLY_CEILING=1000000000000000000000000000 # 1 billion
# ---------------------------------------------------------------------------
# ---------------------------- ARBITRUM MAINNET -----------------------------
# ---------------------------------------------------------------------------
# PROXY ADDRESSES
ARBITRUM_FUNCTIONS_ORACLE_PROXY_ADDRESS=
ARBITRUM_INDEX_TOKEN_PROXY_ADDRESS=
ARBITRUM_VAULT_PROXY_ADDRESS=
ARBITRUM_FEE_VAULT_PROXY_ADDRESS=
ARBITRUM_INDEX_FACTORY_STORAGE_PROXY_ADDRESS=
ARBITRUM_INDEX_FACTORY_BALANCER_PROXY_ADDRESS=
ARBITRUM_INDEX_FACTORY_PROXY_ADDRESS=
ARBITRUM_SCA_PROXY_ADDRESS=

# PROXY ADMIN ADDRESSES
ARBITRUM_FUNCTIONS_ORACLE_PROXY_ADMIN_ADDRESS=
ARBITRUM_INDEX_TOKEN_PROXY_ADMIN_ADDRESS=
ARBITRUM_VAULT_PROXY_ADMIN_ADDRESS=
ARBITRUM_FEE_VAULT_PROXY_ADMIN_ADDRESS=
ARBITRUM_INDEX_FACTORY_STORAGE_PROXY_ADMIN_ADDRESS=
ARBITRUM_INDEX_FACTORY_BALANCER_PROXY_ADMIN_ADDRESS=
ARBITRUM_INDEX_FACTORY_PROXY_ADMIN_ADDRESS=
ARBITRUM_SCA_PROXY_ADMIN_ADDRESS=

ARBITRUM_BOND_ADDRESS=
ARBITRUM_RISK_ASSET_ADDRESS=
ARBITRUM_NEX_BOT_ADDRESS=
ARBITRUM_USDC_ADDRESS=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
ARBITRUM_USDC_DECIMALS=6
ARBITRUM_NEW_DON_ID=0x66756e2d617262697472756d2d6d61696e6e65742d3100000000000000000000
ARBITRUM_FUNCTIONS_ROUTER_ADDRESS=0x97083e831f8f0638855e2a515c90edcf158df238

ARBITRUM_FEE_RATE_PER_DAY_SCALED=
ARBITRUM_FEE_RECEIVER=
ARBITRUM_SUPPLY_CEILING=
